.catalog-heading {
  @include wrapper;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 21px;
  padding-bottom: 36px;
  font-size: 36px;
  line-height: 1.67;
  font-weight: 400;
  border-top: $border-ed;
}
