.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 13px 0 13px;

  @media (min-width: $screen-m) {
    margin: 0;
  }
}

.copyright__text {
  font-family: $font-secondary;
  padding-bottom: 3px;
  font-size: 16px;
  line-height: 1;
  color: #444444;

  @media (min-width: $screen-m) {
    margin-right: 15px;
  }
}

.copyright:active .copyright__text {
  color: rgba(68, 68, 68, 0.3);
}

.copyright__logo {
  width: 40px;
  height: auto;
  margin-right: -6px;
  fill: #666666;
}

.copyright:focus .copyright__logo,
.copyright:hover .copyright__logo {
  fill: #68b738;
}

.copyright:active .copyright__logo {
  fill: #68b738;
  opacity: 0.3;
}
