.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 22px 0;

  @media (min-width: $screen-m) {
    margin: 0;
  }
}

.copyright__text {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 1;
  color: #444444;

  @media (min-width: $screen-m) {
    margin-bottom: 4px;
    margin-right: 22px;
  }

  @media (min-width: $screen-l) {
    margin-bottom: 0;
  }
}

.copyright:active .copyright__text {
  color: rgba(68, 68, 68, 0.3);
}

.copyright__logo {
  width: 27px;
  height: 34px;
  fill: #666666;
  transform: scale(1.5);
}

.copyright:focus .copyright__logo,
.copyright:hover .copyright__logo {
  fill: #68b738;
}

.copyright:active .copyright__logo {
  fill: #68b738;
  opacity: 0.3;
}
