.diet__heading {
  @include visually-hidden;
}

.diet__list {
  @include wrapper;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 17px;

  @media (min-width: $screen-l) {
    display: flex;
  }
}

.diet__item {
  position: relative;
  margin-top: 20px;
  padding: 30px 20px 20px;
  background-color: #f2f2f2;

  @media (min-width: $screen-m) {
    padding: 76px 275px 60px 53px;
    margin-top: 30px;
  }

  @media (min-width: $screen-l) {
    width: 46.73%;
    padding-right: 30px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-primary;

    @media (min-width: $screen-m) {
      top: 92px;
      left: auto;
      right: 62px;
      width: 200px;
      height: 200px;
    }

    @media (min-width: $screen-l) {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }
  }
}

.diet__item--slim::after {
  position: absolute;
  content: "";
  top: 22px;
  left: 30px;
  width: 35px;
  height: 49px;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $screen-m) {
    top: 80px;
    left: auto;
    right: 91px;
    width: 141px;
    height: 194px;
  }

  @media (min-width: $screen-l) {
    top: 41px;
    right: auto;
    left: 65px;
    width: 71px;
    height: 97px;
  }
}

.diet__item--pro {
  @media (min-width: $screen-m) and (max-width: 1299px) {
    padding-right: 312px;

    &::before {
      top: 91px;
      right: 60px;
    }
  }

  @media (min-width: $screen-l) {
    margin-left: 6.54%;
    padding-right: 72px;
  }
}

.diet__item--pro::after {
  position: absolute;
  content: "";
  top: 35px;
  left: 13px;
  width: 67px;
  height: 28px;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $screen-m) {
    top: 135px;
    left: auto;
    right: 28px;
    width: 268px;
    height: 113px;
  }

  @media (min-width: $screen-l) {
    top: 69px;
    right: auto;
    left: 34px;
    width: 134px;
    height: 57px;
  }
}

.diet__caption {
  margin: 0;
  padding-left: 72px;
  font-size: 24px;
  line-height: 1.54;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $screen-m) {
    padding-left: 0;
    font-size: 36px;
    line-height: 1.03;
  }

  @media (min-width: $screen-l) {
    margin-left: 161px;
  }
}

.diet__description {
  @include paragraph;
  padding: 14px 0 21px;
  margin: 15px 0 19px;
  border-bottom: 1px solid rgba(#111111, 0.1);

  @media (min-width: $screen-m) {
    padding-top: 10px;
    padding-bottom: 37px;
    padding-left: 0;
    border: none;
  }

  @media (min-width: $screen-l) {
    margin-top: 63px;
    padding-bottom: 13px;
  }
}

.diet__link {
  position: relative;
  display: inline-block;
  vertical-align: center;
  padding-right: 45px;
  font-size: 16px;
  line-height: 1;
  color: #111111;
  text-align: left;
  text-transform: uppercase;

  &:focus,
  &:hover {
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $screen-m) {
    font-size: 20px;
    padding-right: 56px;
  }

  &::after {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 34px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-size: 25px 12px;
    background-position: left 0 center;
  }

  &:focus::after,
  &:hover::after {
    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-size: 34px 12px;
  }
}
