.example {
  background-color: #f2f2f2;

  @media (min-width: $screen-m) {
    background-color: #ffffff;
  }

  @media (min-width: $screen-l) {
    display: flex;
    flex-wrap: wrap;
    // max-width: 1300px;
    max-width: 1440px;
  }
}

.example__heading {
  @include wrapper;
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 1.67;
  font-weight: 400;

  @media (min-width: $screen-m) {
    font-size: 60px;
    line-height: 1;
  }

  @media (min-width: $screen-l) {
    width: 100%;
    margin-bottom: 66px;
  }
}

.example__text-container {
  @include wrapper;

  @media (min-width: $screen-m) {
    padding-bottom: 255px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $screen-l) {
    background-color: #f2f2f2;
    display: block;
    width: 50%;
    padding-left: calc((100% - 1220px) / 2);
    padding-right: 0;
    padding-top: 46px;
    padding-bottom: 0;
    margin-right: 0;
  }
}

.example__legend {
  @include paragraph;
  margin-top: 30px;

  @media (min-width: $screen-m) {
    width: 100%;
  }

  @media (min-width: $screen-l) {
    width: 70.5%;
  }
}

.example__table {
  margin-top: 30px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $screen-m) {
    width: 366px;
    margin-left: 0;
  }

  @media (min-width: $screen-l) {
    margin-top: 71px;
  }
}

.example__tbody {
  display: flex;
  justify-content: center;
}

.example__result {
  position: relative;
  flex: 0 0 124px;
  height: 56px;
  border: $border-cd;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(:first-child) {
    margin-left: 32px;
  }

  @media (min-width: $screen-m) {
    flex: 0 0 162px;
    height: 72px;

    &:not(:first-child) {
      margin-left: 42px;
    }
  }
}

.example__parameter {
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  width: 87px;
  padding: 0 3px;
  background-color: #f2f2f2;
  font-family: $font-secondary;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: #444444;

  @media (min-width: $screen-m) {
    font-size: 14px;
    background-color: #ffffff;
    bottom: -10%;
    width: auto;
    white-space: nowrap;
    padding: 0 8px;
  }

  @media (min-width: $screen-l) {
    background-color: #f2f2f2;
  }
}

.example__value {
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $screen-m) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.example__spending {
  margin-top: 35px;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $screen-m) {
    width: 180px;
    font-size: 20px;
    line-height: 1;
    text-align: right;
  }

  @media (min-width: $screen-l) {
    margin-top: 62px;
    text-align: left;
    width: 100%;
  }
}

.example__cost {
  @media (min-width: $screen-m) {
    display: inline-block;
    margin-top: 10px;
  }

  @media (min-width: $screen-l) {
    margin-top: 0;
    margin-left: 64px;
  }
}
