.goods {

}

.goods__heading {
  @include visually-hidden;
}

.goods__wrapper {

}

.goods__list {
  @include list;
  display: flex;
  flex-wrap: wrap;
}

.goods__item {
  flex: 1 0 320px;
  min-height: 210px;
}
