.how-it-works__wrapper {
  @include wrapper;
  padding-top: 0;
  padding-bottom: 42px;

  @media (min-width: $screen-m) and (max-width: 1299px) {
    border-bottom: 1px solid rgba(#111111, 0.1);
  }
}

.how-it-works__heading {
  margin: 0;
  margin-top: -4px;
  font-size: 36px;
  line-height: 1.67;
  font-weight: 400;

  @media (min-width: $screen-m) {
    font-size: 60px;
    margin-top: -30px;
    line-height: 1;
  }

  @media (min-width: $screen-l) {
    font-size: 60px;
    margin-top: -5px;
    line-height: 1;
  }
}

.how-it-works__list {
  @include list-reset;
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: space-between;
  counter-reset: section;

  @media (min-width: $screen-m) {
    margin-top: -17px;
  }
}

.how-it-works__item {
  width: 100%;
  position: relative;
  margin-top: 20px;
  min-height: 60px;
  padding-left: 80px;
  padding-right: 6px;

  @media (max-width: 767px) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $screen-m) {
    max-width: 45%;
    min-height: 233px;
    margin-top: 88px;
    padding-left: 0;
    padding-right: 70px;
    padding-top: 110px;

    &::before {
      position: absolute;
      z-index: -1;
      counter-increment: section;
      content: counter(section);
      left: 115px;
      top: -39px;
      font-family: $font-primary;
      font-size: 281px;
      line-height: 1;
      color: #f2f2f2;
      text-align: left;
    }
  }

  @media (min-width: $screen-l) {
    flex: 0 0 21%;
    padding-right: 0;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    background-color: $color-primary;

    @media (min-width: $screen-m) {
      width: 80px;
      height: 80px;
    }
  }
}

.how-it-works__item--only-good::after {
  background-image: url("../img/advantage-leaf@1x.png");

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/advantage-leaf@2x.png");
  }
}

.how-it-works__item--fast-cooking::after {
  background-image: url("../img/advantage-powder@1x.png");

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/advantage-powder@2x.png");
  }
}

.how-it-works__item--ration-change::after {
  background-image: url("../img/advantage-dining@1x.png");

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/advantage-dining@2x.png");
  }
}

.how-it-works__item--profit::after {
  background-image: url("../img/advantage-clock@1x.png");

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/advantage-clock@2x.png");
  }
}

.how-it-works__text {
  @include paragraph;
  margin: 0;
}
