.map {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 400px;
  background-image: url("../img/map-pin.png"), url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 55px auto, cover;
  background-position: center bottom calc(19px + 42.5%), center;

  @media (min-width: $screen-m) {
    width: $screen-m;
    background-image: url("../img/map-pin.png"), url("../img/bg-map-tablet@1x.png");
    background-position: left 52% bottom 42.5%, center;
  }
}
