.page-footer {
  // max-width: 1300px;
  max-width: 1440;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 76px;

  @media (min-width: $screen-m) {
    padding-top: 197px;
  }
}

.page-footer__container {
  padding: 0 $padding-s;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;

  @media (min-width: $screen-m) {
    padding: 58px $padding-m;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $screen-l) {
    padding: 58px calc((100% - 1220px) / 2);
  }
}

.page-footer__logo {
  margin: 39px auto 31px;
  width: 128px;
  height: 24px;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }

  @media (min-width: $screen-m) {
    margin: 0;
  }
}
