.page-footer {
  position: relative;
  background-color: #f2f2f2;
}

.page-footer__container {
  @include wrapper;
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-m) {
    padding-top: 54px;
    padding-bottom: 56px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $screen-l) {
    padding-top: 58px;
    padding-bottom: 55px;
  }
}

.page-footer__logo {
  margin: 39px auto 31px;
  width: 128px;
  height: 24px;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }

  @media (min-width: $screen-m) {
    margin: 0;
  }
}
