body {
  min-width: 320px;
  // max-width: 1300px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: $font-primary;
  font-size: 14px;
  line-height: 1.29;
  color: #111111;
  text-align: left;
  background-color: #ffffff;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
