.program-selection {
  // max-width: 1300px;
  padding: 0 0 20px;
  // margin-left: auto;
  // margin-right: auto;
}

.program-selection__heading {
  padding: 21px 20px 36px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 1.67;
  font-weight: 400;
  border-top: $border-ed;

  @media (min-width: $screen-m) {
    padding-left: $padding-m;
    padding-right: $padding-m;
  }

  @media (min-width: $screen-l) {
    padding-left: $padding-l;
    padding-right: $padding-l;
  }
}

.program-selection__text {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: $padding-s;
  width: 325px;
  // padding-left: 20px;
  // padding-right: calc(100% - 250px);
  // margin-top: 0;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;

  @media (min-width: $screen-m) {
    // padding-left: $padding-m;
    // padding-right: calc(100% - 260px);
    font-size: 20px;
    line-height: 1.5;
    margin-left: $padding-m;
  }

  @media (min-width: $screen-l) {
    // padding-left: $padding-l;
    // padding-right: calc(100% - 270px);
    margin-left: calc((100% - 1220px) / 2);
    // margin-left: 40px;
  }
}

.program-selection__form {

}
