.program-direction {
  // padding-left: calc(20 / 320 * 100%);
  // width: calc(230px + (20 / 320 * 100%);
  margin-top: 0;
  margin-left: 6.25%;
  width: 230px;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}
