.show-all {
  padding: 0 20px 25px;
  border-top: $border-ed;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $screen-m) {
    margin-top: 140px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0 38px 40px;
    border: $border-ed;
  }

  @media (min-width: $screen-l) {
    margin-left: 40px;
    margin-right: 40px;
  }
}

.show-all__link {
  margin-top: 27px;
  margin-bottom: 23px;
  font-size: 0;
  width: 31px;
  height: 31px;
  background-image: url("../img/icon-plus-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;

  @media (min-width: $screen-m) {
    width: 61px;
    height: 61px;
    margin-top: 55px;
    margin-bottom: 50px;
    background-image: url("../img/icon-plus.svg");
  }

  &:focus,
  &:hover {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.5;
  }
}

.show-all__heading-link {
  color: #111111;
}

.show-all__heading {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
  margin: 0;

  @media (min-width: $screen-m) {
    font-size: 20px;
    line-height: 1;
    width: 140px;
    text-align: center;
  }
}

.show-all__text {
  margin-top: 11px;
  margin-bottom: 20px;
  font-family: $font-secondary;
  font-size: 12px;
  line-height: 1.33;
  color: #444444;

  @media (min-width: $screen-m) {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 28px;
    width: 170px;
    text-align: center;
  }
}

.show-all__button {
  width: 100%;
  margin-top: auto;
  padding: 10px 0;
  font-size: 16px;
  line-height: 1.25;
  color: #444444;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;

  &:focus,
  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}
