.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 22px 0;
  border-top: 1px solid rgba(#111111, 0.1);
  border-bottom: 1px solid rgba(#111111, 0.1);
}

.social-list__item {
  margin: 0 3px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:first-child {
    margin-right: 8px;
  }
}

.social-list__link {
  font-size: 0;
}

.social-list__link svg {
  fill: #666666;

  &:focus,
  &:hover {
    fill: $leaf;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-list__icon-vk {

}

.social-list__icon-instagram {

}

.social-list__icon-fb {

}
