@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin paragraph {
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #444444;

  @media (min-width: $screen-m) {
    font-size: 16px;
    line-height: 1.5;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin checkbox-hidden {
  position: absolute;
  top: 0.7em;
  left: 0;
  margin: 0;
  padding: 0;
  transform: translateY(-50%);
  opacity: 0;
}

@mixin max-width ($small: 660px, $middle: 1060px) {
  max-width: $small;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $screen-m) and (max-width: 1299px) {
    max-width: $middle;
  }
}

@mixin wrapper {
  padding-left: $padding-s;
  padding-right: $padding-s;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $screen-m) {
    padding-left: $padding-m;
    padding-right: $padding-m;
  }

  @media (min-width: $screen-l) {
    padding-left: $padding-l;
    padding-right: $padding-l;
    max-width: 1300px;
  }
}
