@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin paragraph {
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #444444;

  @media (min-width: $screen-m) {
    font-size: 16px;
    line-height: 1.5;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin right-line($top: 42px, $heading-width: 200px) {
  &::after {
    position: absolute;
    content: "";
    top: $top;
    right: -20px;
    width: calc(100% - #{$heading-width});
    height: 3px;
    background-color: $color-primary;

    @media (min-width: $screen-m) {
      width: calc(100% + 10px - #{$heading-width});
      right: -30px;
    }

    @media (min-width: $screen-l) {
      width: calc(100% + 20px - #{$heading-width});
      right: -40px;
    }
  }
}

@mixin wrapper {
  padding-left: $padding-s;
  padding-right: $padding-s;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $screen-m) {
    padding-left: $padding-m;
    padding-right: $padding-m;
  }

  @media (min-width: $screen-l) {
    padding-left: $padding-l;
    padding-right: $padding-l;
    max-width: 1300px;
  }
}
