$leaf: #68b738;
$color-primary: $leaf;
$border-ed: 1px solid #ededed;
$border-cd: 1px solid #cdcdcd;
$oswald: "Oswald", "Arial", sans-serif;
$arial: "Arial", sans-serif;
$font-primary: $oswald;
$font-secondary: $arial;
$screen-s: 0;
$screen-m: 768px;
$screen-l: 1300px;
$padding-s: 20px;
$padding-m: 30px;
$padding-l: 40px;
